/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(328, 58%, 17%);
  --clr-primary-2: hsl(328, 58%, 27%);
  --clr-primary-3: hsl(328, 58%, 37%);
  --clr-primary-4: hsl(328, 58%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(328, 59%, 38%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(328, 58%, 70%);
  --clr-primary-7: hsl(328, 58%, 76%);
  --clr-primary-8: hsl(328, 58%, 81%);
  --clr-primary-9: hsl(328, 58%, 88%);
  --clr-primary-10: hsl(328, 58%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-natural: #e8c9c9;
  --clr-wine-dark: hsl(328, 58%, 15%);
  --clr-wine-medium: hsl(328, 59%, 38%);
  --clr-wine-light: hsl(328, 71%, 66%);
  --clr-blue-dark: hsl(201, 48%, 15%);
  --clr-blue-medium: hsl(200, 49%, 43%);
  --clr-blue-light: hsl(200, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --ff-tertiary: 'Alike', serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global General Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  text-align: center;
}
img:not(.logo) {
  width: 100%;
}
/* img {
  display: block;
} */

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
  letter-spacing: var(--spacing);
}
h2 {
  font-size: 2rem;
  letter-spacing: var(--spacing);
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

/* Global Classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--clr-white);
  color: hsl(328, 59%, 38%);
}
/* Section */
.section {
  padding-bottom: 5rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Structural Styles
===============
*/

#projects,
#skills,
#about,
#connect {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}
.project-container,
.skills-container,
.about-container,
.connect-container {
  width: 85%;
}

.left-align-text {
  text-align: left;
}

/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: hsl(328, 59%, 38%);
}
/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: hsl(328, 59%, 38%);
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--clr-grey-1);
}

/* hero */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(./img/sanfrancisco.jpg) center/cover no-repeat;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}
.container h2 {
  color: var(--clr-white);
  margin-bottom: 1rem;
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

/* sections and title */
.title {
  width: 100%;
}
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: hsl(328, 59%, 38%);
}

#projects,
#skills,
#about,
#connect {
  height: auto;
}

#skills,
#connect {
  background: var(--clr-white);
}
footer {
  background: var(--clr-grey-1);
  padding: 5rem 1rem;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: hsl(328, 59%, 38%);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;

  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Projects */
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-flow: row wrap; */
  border: 0.5px solid var(--clr-grey-5);
  border-radius: 2.5%;
  margin-top: 50px;
  background-color: var(--clr-white);
  width: 70%;
}
.project-piece {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.project-box {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
#project-img {
  border: 0.5px solid var(--clr-grey-8);
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#project-name {
  margin-top: 25px;
  font-size: 1.25rem;
}

.project-container span {
  font-weight: bold;
}
#project-skills {
  margin-bottom: 0;
}
#project-tools {
  margin-bottom: 20px;
}
#project-link {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: white;
  background-color: var(--clr-grey-5);
  border-radius: 25px;
  padding: 8px;
  margin-bottom: 15px;
}

.prev-btn,
.next-btn {
  color: var(--clr-primary-5);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 2rem 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
/* .prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-1);
} */

/* Skills */

#skills h3 {
  margin: 25px 0;
}
.language-wrapper p,
.tool-wrapper p {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: white;
  background-color: var(--clr-grey-5);
  border-radius: 5px;
  padding: 10px;
}

/* About */
#about figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about img {
  border: 0.5px solid white;
  border-radius: 50%;
  width: 33%;
  margin: 25px 0;
}
.about-info h2 {
  letter-spacing: normal;
  margin-bottom: 25px;
}
.about-info h3 {
  margin: 0 0 25px 0;
}
.about-info h4 {
  margin: 0 0 25px 0;
}
.about-text {
  text-align: left;
}

/* Connect */

.connect-info {
  margin-top: 50px;
}
.connect-info a {
  color: var(--clr-grey-5);
}
.email-section {
  margin-top: 25px;
}
.follow-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.follow-section .social-icons {
  display: flex;
  justify-content: center;
}

.follow-section ul {
  width: 100%;
}

.follow-section .social-icons li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
}

.follow-section .social-icons li i {
  font-size: 2.5rem;
  color: var(--clr-grey-5);
}

/*
=============== 
Media Queries
===============
*/
/* General Styles for Tablet */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* Navbar Styles for Tablet */
@media screen and (min-width: 768px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
  }
}
/* Hero for Tablet */
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}
/* Projects for Tablet */
@media screen and (min-width: 768px) {
  .project-container {
    /* justify-content: space-around; */
    width: 75%;
  }
  .project-piece {
    width: 95%;
    align-items: center;
  }
  #project-img {
    width: 75%;
    margin: 25px auto 0 auto;
  }
  #project-description {
    width: 95%;
  }
  .prev-btn,
  .next-btn {
    margin: 0 2rem;
    font-size: 2.5rem;
  }
}
/* Skills Styles for Tablet */
@media screen and (min-width: 768px) {
  .language-wrapper,
  .tool-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-flow: row wrap;
  }
  .skill,
  .tool {
    width: 48%;
  }
}
/* About Styles for Tablet */
@media screen and (min-width: 768px) {
  .about-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
}
/* Connect Styles for Tablet */
@media screen and (min-width: 768px) {
  .connect-container {
    display: flex;
    justify-content: space-around;
  }
  .connect-info {
    width: 33%;
  }
}
/* Section Styles for Desktop */
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* General Styles for Desktop Wide */
@media screen and (min-width: 1200px) {
  h4 {
    font-size: 1.25rem;
  }
  body {
    font-size: 1.1rem;
  }
  p {
    font-size: 1.25rem;
  }
}
/* Project Styles for Desktop Wide */
@media screen and (min-width: 1200px) {
  .project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .project-box {
    width: 100%;
  }
  #project-img {
    width: 50%;
    margin: 25px auto;
  }
  #project-name {
    font-size: 1.5rem;
    margin-top: 0;
  }
}
/* Skills Styles for Desktop Wide */
@media screen and (min-width: 1200px) {
  .skills-container {
    margin: 25px 0;
  }
  .skill,
  .tool {
    width: 30%;
  }
}
/* About Styles for Desktop Wide */
@media screen and (min-width: 1200px) {
  .about-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
    max-width: 90%;
  }
  #about figure {
    width: 35%;
  }
  .about-info {
    width: 60%;
  }
  #about img {
    width: 325px;
    height: auto;
    margin: 0;
  }
}

/* About Styles for Desktop - Breakpoint 1530px */
@media screen and (min-width: 1530px) {
  #about .title {
    margin-bottom: 25px;
  }
  .about-container {
    margin: 60px 0;
  }
}
